<div class="mnv-ec-masthead">
  <div class="mnv-ec-masthead-outer-wrap">
    <div class="mnv-ec-masthead-wrap">
      <a href="http://www.economist.com" class="mnv-ec-masthead-logo svg-logo">
        <img alt="The Economist" src="//cdn.static-economist.com/sites/all/themes/econfinal/images/svg/logo.svg" class="mh-logo">
      </a>
      <h1 class="mnv-ec-masthead-text">
        <span class="mnv-ec-masthead-title">{{masthead.title}}</span>
        <span class="mnv-ec-masthead-flytitle">{{masthead.subtitle}}</span>
      </h1>
    </div>
  </div>
</div>